<div class="w-full h-full bg-white">
    <main class="p-4 px-10">
        <h2 class="font-bold text-3xl">Transferencias</h2>
        <div class="text-md flex flex-row gap-3">
            <a routerLink="/" class="text-primary">Teller App</a>
            <span>/</span>
            <a routerLink="/client/transferences" class="text-gray-400">Transferencias</a>
        </div>
    </main>
    <div class="border-b"></div>
    <div class="flex flex-col sm:flex-row">
        <div class="w-full sm:w-1/2 flex flex-col py-6 px-10">
            <!-- selector de busqueda -->
            <div class="w-full flex flex-col gap-4 mb-8">
                <form class="flex flex-col">
                    <mat-label class="font-medium">Elige la forma de búsqueda para encontrar la cuenta que se va a utilizar en la transferencia</mat-label>
                    <mat-chip-list aria-label="Fish selection" class="mt-4" #chipList >
                        <!-- <mat-chip (click)="selectThisChip(0);">Cédula</mat-chip>
                        <mat-chip (click)="selectThisChip(1);">RUC</mat-chip>
                        <mat-chip (click)="selectThisChip(2);">Pasaporte</mat-chip> -->
                        <mat-chip (click)="selectThisChip(0);">Cuenta</mat-chip>
                    </mat-chip-list>
                </form>
            </div>
            <!-- busquedas por cuenta o por cedula -->
            <form [formGroup]="formClient" class="w-full sm:w-1/2 flex flex-col  gap-4">
                <div class="w-full self-center">
                    <mat-form-field class="w-full">
                        <mat-label>Número de {{chipSelectedValue}} del cliente</mat-label>
                        <input matInput type="text" [formControlName]="'accountNumber'">
                    </mat-form-field>
                    <mat-error
                        *ngIf="formClient.get('accountNumber').errors?.['required'] && formClient.get('accountNumber').touched && formClient.get('accountNumber').value ==''">
                        El número de cuenta es obligatorio para continuar.
                    </mat-error>
                    <mat-error *ngIf="formClient.get('accountNumber').errors?.['pattern']">
                        La cuenta ingresada solo puede tener números, no puede tener letras ni otros símbolos.
                    </mat-error>
                </div>
                <button [disabled]="formClient.get('accountNumber').invalid || !this.chipSelectedValue" mat-flat-button color="primary"
                    class="w-full sm:w-1/3" (click)="getAccounts();">Buscar</button>
            </form>
        </div>
        <div class="w-full sm:w-1/2 flex flex-col py-6 px-10">
            <div class="slider w-full h-64 flex gap-5 overflow-x-scroll">
                <ng-container *ngIf="(accounts$ | async) as accounts">
                    <div [id]="'card-'+i" *ngFor="let account of accounts; index as i" class="w-full h-56 flex flex-col border rounded-md p-8" (click)="selectThisAccount(account,i);" style="flex: 0 0 100%">
                        <h2 class="text-2xl font-bold mb-4 text-center">Nro. Cuenta {{account.codeInternalAccount}}</h2>
                        <div class="flex flex-col gap-3">
                            <!-- <div class="flex flex-row justify-between">
                                <span class="font-semibold text-center">Propietario: </span>
                                <span class="text-center">{{account.accountClientData.name + '' + account.accountClientData.lastname}}</span>
                            </div>
                            <div class="flex flex-row justify-between">
                                <span class="font-semibold text-center">Identificacion</span>
                                <span class="text-center">{{account.accountClientData.identification}}</span>
                            </div> -->
                            <div class="flex flex-row justify-between">
                                <span class="font-semibold text-center">Tipo de cuenta</span>
                                <span class="text-center">{{account.name}}</span>
                            </div>
                            <div class="flex flex-row justify-between">
                                <span class="font-semibold text-center">Saldo actual de la cuenta</span>
                                <span class="text-center">$ {{account.availableBalance}} USD</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        
    </div>
    <div class="w-full flex flex-col items-center gap-6">
        <h2 class="text-xl font-bold">Ingrese el monto a depositar en la cuenta</h2>
        <form [formGroup]="amountForm" class="w-full sm:w-1/2 flex flex-col  gap-4">
            <div class="w-full self-center">
                <mat-form-field class="w-full">
                    <input matInput type="number" [formControlName]="'amount'">
                </mat-form-field>
                <mat-error
                    *ngIf="amountForm.get('amount').errors?.['required'] && amountForm.get('amount').touched && amountForm.get('amount').value ==''">
                    El monto es obligatorio para continuar.
                </mat-error>
                <mat-error *ngIf="amountForm.get('amount').errors?.['min']">
                    Solo se puede realizar transferencias a partir de $ 1.00 USD
                </mat-error>
            </div>
            <button [disabled]="amountForm.get('amount').invalid || !this.chipSelectedValue" mat-flat-button color="primary"
                class="w-full sm:w-1/3 self-center" (click)="transferToDestinyAccount();">Transferir</button>
        </form>
    </div>
</div>