<div class="w-full h-full bg-white">
    <main class="p-4 px-10">
        <h2 class="font-bold text-3xl">Transferencias</h2>
        <div class="text-md flex flex-row gap-3">
            <a routerLink="/" class="text-primary">Teller App</a>
            <span>/</span>
            <a routerLink="/client/transferences" class="text-gray-400">Transferencias</a>
        </div>
    </main>
    <div class="border-b"></div>
    <div class="flex flex-col sm:flex-row">
        <div class="w-full sm:w-1/2 flex flex-col py-6 px-10">
            <!-- busquedas por cuenta o por cedula -->
            <form [formGroup]="formClientDebtor" class="w-full sm:w-1/2 flex flex-col  gap-4">
                <div class="w-full self-center">
                    <mat-form-field class="w-full">
                        <mat-label>Número de cuenta  de origen</mat-label>
                        <input matInput type="text" [formControlName]="'accountNumber'">
                    </mat-form-field>
                    <mat-error
                        *ngIf="formClientDebtor.get('accountNumber').errors?.['required'] && formClientDebtor.get('accountNumber').touched && formClientDebtor.get('accountNumber').value ==''">
                        El número de cuenta es obligatorio para continuar.
                    </mat-error>
                    <mat-error *ngIf="formClientDebtor.get('accountNumber').errors?.['pattern']">
                        La cuenta ingresada solo puede tener números, no puede tener letras ni otros símbolos.
                    </mat-error>
                </div>
                <button [disabled]="formClientDebtor.get('accountNumber').invalid " mat-flat-button color="primary"
                    class="w-full sm:w-auto" (click)="getAccounts('debtor');">Validar Cuenta</button>
            </form>
        </div>
        
        <div class="w-full sm:w-1/2 flex flex-col py-6 px-10">
            <div class="slider w-full h-64 flex gap-5 overflow-x-scroll">
                <ng-container *ngIf="accountsDebtor != null">
                    <div [id]="'card-'+0" class="w-full h-56 flex flex-col border rounded-md p-8"  style="flex: 0 0 100%">
                        <h2 class="text-2xl font-bold mb-4 text-center">Nro. Cuenta {{accountsDebtor.codeInternalAccount}}</h2>
                        <div class="flex flex-col gap-3">
                            <div class="flex flex-row justify-between">
                                <span class="font-semibold text-center">Tipo de cuenta</span>
                                <span class="text-center">{{accountsDebtor.name}}</span>
                            </div>
                            <div class="flex flex-row justify-between">
                                <span class="font-semibold text-center">Saldo actual de la cuenta</span>
                                <span class="text-center">$ {{accountsDebtor.availableBalance}} USD</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        
    </div>
    <div class="border-b w-full"></div>
    <div class="flex flex-col sm:flex-row">
        <div class="w-full sm:w-1/2 flex flex-col py-6 px-10">
            <!-- busquedas por cuenta o por cedula -->
            <form [formGroup]="formClientCreditor" class="w-full sm:w-1/2 flex flex-col  gap-4">
                <div class="w-full self-center">
                    <mat-form-field class="w-full">
                        <mat-label>Número de cuenta de destino</mat-label>
                        <input matInput type="text" [formControlName]="'accountNumber'">
                    </mat-form-field>
                    <mat-error
                        *ngIf="formClientCreditor.get('accountNumber').errors?.['required'] && formClientCreditor.get('accountNumber').touched && formClientCreditor.get('accountNumber').value ==''">
                        El número de cuenta es obligatorio para continuar.
                    </mat-error>
                    <mat-error *ngIf="formClientCreditor.get('accountNumber').errors?.['pattern']">
                        La cuenta ingresada solo puede tener números, no puede tener letras ni otros símbolos.
                    </mat-error>
                </div>
                <button [disabled]="formClientCreditor.get('accountNumber').invalid " mat-flat-button color="primary"
                    class="w-full sm:w-auto " (click)="getAccounts('credtor');">Validar Cuenta</button>
            </form>
        </div>
        <div class="w-full sm:w-1/2 flex flex-col py-6 px-10">
            <div class="slider w-full h-64 flex gap-5 overflow-x-scroll">
                <ng-container *ngIf="creditorAcc !=null">
                    <div [id]="'card-'+0" class="w-full h-56 flex flex-col border rounded-md p-8"  style="flex: 0 0 100%">
                        <h2 class="text-2xl font-bold mb-4 text-center">Datos de la cuenta destino</h2>
                        <h2 class="text-xl font-semibold mb-4 text-center">Nro. Cuenta {{creditorAcc.codeInternalAccount}}</h2>
                        <div class="w-full grid grid-cols-2">
                            <span class="font-semibold text-center">Propietario: </span>
                            <span class="text-center">{{creditorData.firstName + ' ' + creditorData.lastName}}</span>
                        </div>
                        <div class="w-full grid grid-cols-2">
                            <span class="font-semibold text-center">Identificación: </span>
                            <span class="text-center">{{creditorData.documentId}}</span>
                        </div>
                        <div class="flex flex-col gap-3">
                            <div class="flex flex-row justify-between">
                                <span class="font-semibold text-center">Tipo de cuenta</span>
                                <span class="text-center">{{creditorAcc.name}}</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        
    </div>
    <div class="w-full flex flex-col items-center gap-6">
        <h2 class="text-xl font-bold">Ingrese el monto a transferir</h2>
        <form [formGroup]="amountForm" class="w-full sm:w-1/2 flex flex-col  gap-4">
            <div class="w-full self-center">
                <mat-form-field class="w-full">
                    <input matInput type="number" [formControlName]="'amount'">
                </mat-form-field>
                <mat-error
                    *ngIf="amountForm.get('amount').errors?.['required'] && amountForm.get('amount').touched && amountForm.get('amount').value ==''">
                    El monto es obligatorio para continuar.
                </mat-error>
                <mat-error *ngIf="amountForm.get('amount').errors?.['min']">
                    Solo se puede realizar transferencias a partir de $ 1.00 USD
                </mat-error>
                <mat-error *ngIf="amountForm.get('amount')?.value >accountsDebtor?.totalBalance ">
                    El valor ingresado es superior al saldo actual
                </mat-error>
            </div>
            <button [disabled]="amountForm.get('amount').invalid || amountForm.get('amount')?.value >accountsDebtor?.totalBalance " mat-flat-button color="primary"
                class="w-full sm:w-1/3 self-center" (click)="transferToDestinyAccount();">Transferir</button>
        </form>
    </div>
</div>