<!--<p>withdraw works!</p>-->


<div class="withdraw-container">
  <h1>BanQuito Retiros</h1>
  <form #form="ngForm" (ngSubmit)="realizarRetiro()" class="withdraw-form">
    <div class="form-group">
      <!-- <label for="cuentaId">Número de cuenta:</label>
      <input type="number" id="cuentaId" name="cuentaId" [(ngModel)]="cuentaId" required> -->

      <div class="form-group">
        <label for="accountInternalCode">Número de cuenta:</label>
        <input type="text" id="accountInternalCode" name="accountInternalCode" [(ngModel)]="accountInternalCode" required><br>
        <button type="button" (click)="buscarCuentaPorInternalCode()">Buscar Número de Cuenta</button>
      </div>
      <!-- <div *ngIf="accountDetails">
        <p>Detalles de la cuenta:</p>
        <p>Nombre: {{ account.name }}</p>
        <p>Tipo: {{ account.availableBalance }}</p>
        <p>Nro. Cuenta {{account.codeInternalAccount}}</p>
      </div> -->
      <div *ngIf="accountDetails">
        <br>
        <p>Tipo de Cuenta: {{ accountDetails?.name }}</p>
        <p>Numero: {{ accountDetails?.codeInternalAccount }}</p>
        <p>Saldo Disponible: {{ accountDetails?.availableBalance }}</p>
        <!-- ... Otros detalles de la cuenta ... -->
      </div>

    </div>
    
    <br>
    <div class="form-group" *ngIf="accountDetails">
      <label for="amount">Monto a retirar:</label>
      <input type="number" id="amount" name="amount" [(ngModel)]="amount" required>
    </div>

    <div class="form-group">
      <label for="debtorAccount">Nro. de Cuenta a Debitar:</label>
      <input type="text" id="debtorAccount" name="debtorAccount" [(ngModel)]="debtor_account" required>
    </div>

    <button type="submit" [disabled]="!form.valid || !accountDetails">Realizar retiro</button>
  </form>

  <div *ngIf="retiroExitoso">
    <p *ngIf="monto > saldoTotal" style="color: red; text-align: center;">Saldo insuficiente para el retiro.</p>
    <p *ngIf="retiroExitoso && monto <= saldoTotal" style="color: green; text-align: center;">Retiro exitoso.</p>
  </div>

  <br>
  <div *ngIf="retiroExitoso">
    <table>
      <thead>
        <tr>
          <th>Número de cuenta</th>
          <th>Tipo de cuenta</th>
          <!-- <th>Saldo Disponible</th> -->
          <th>Débito</th>
          <th>Saldo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ accountDetails?.codeInternalAccount }}</td>
          <td>{{ accountDetails?.name }}</td>
          <!-- <td>{{ accountDetails?.availableBalance }}</td> -->
          <td>{{ amount }}</td>
          <td>{{ accountDetails?.availableBalance - amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>





