/* Estilos para el contenedor principal */
.withdraw-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px transparent #ccc;
  border-radius: 8px;
}

/* Estilos para el formulario */
.withdraw-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Estilos para las tablas */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

thead {
  background-color: #f2f2f2;
}


/* Estilos para el mensaje de retiro exitoso */
.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}
